/* ==========================================================================*/
/* SETTINGS */
/* ==========================================================================*/

//Colors
$red:#FA291F;
$font-black:#333333;
$font-grey: #666666;
$white: #fff;
$dark-blue:#2A2E3F;
$nav-font-color: #20292f;

//Fonts
$main-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
$secondary-family: 'Poppins';
$text-family: 'open sans';


//c-intro vars
$width_red_box: percentage(768/1920);
$width_white_box: calc(100% - #{$width_red_box});
/* ==========================================================================*/
/* END SETTINGS */
/* ==========================================================================*/