.o-button{
    &-dark{
        background-color: #253547;
        text-decoration: none;
        color: #fff;
        padding: 15px 30px;
        font-size: 14px;
        border-radius: 5px;
        box-shadow: 0px 20px 30px 0px rgba($color: #000000, $alpha: 0.2);
        text-transform: uppercase;
    }

    &-light{
        background-color: #296FFA;
        text-decoration: none;
        color: #fff;
        padding: 15px 30px;
        font-size: 14px;
        border-radius: 5px;
        box-shadow: 0px 20px 30px 0px rgba($color: #000000, $alpha: 0.2);
        text-transform: uppercase;
    }
    &-yellow{}
    &-green{}

 
}