/* ==========================================================================*/
/* OBJECT - CONTAINER */
/* ==========================================================================*/
.o-container{
   // max-width: 1280px;
    max-width: 1080px;
    margin: auto;
    width: 80%;
}





/* ==========================================================================*/
/* END OBJECT - CONTAINER */
/* ==========================================================================*/