.c-contact{
    background-image: radial-gradient(circle at center,rgba(42,46,64,0) 0%,#2a2e40 70%),
    url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/10/gym_35.jpg);
    background-size: cover;
    margin-top: 90px;
    &__wrapper-contact{
        display: flex;
        flex-direction: column;
        @include desktop1024(){
            flex-direction: row;
        }
    }

    &__form{
        width: 100%;
        margin: 0;
        padding-top: 60px;

        @include desktop1024(){
            margin: 256px -79px 200px 85px;
            width: 57.5%;
            padding: 0;
        }

        @include mdplus(){
            margin: 256px 0px 256px 256px;
        }
        &-title{
            font-family: $main-family;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0.5em;
            line-height: 2.4em;
            color: $white;
            width: 80%;
            margin: 0 auto;
            @include desktop1024(){
                letter-spacing: 1.5em;
                width: 100%;
                margin: 0;
            }
        }
        &-bigtitle{
            font-family: $main-family;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 6vw;
            letter-spacing: 0.35em;
            line-height: 1.2em;
            color: $white;
            width: 80%;
            margin: 0 auto;

            @include desktop1024(){
                width: 100%;
                margin: 0;
            }
        }
    }

    &__container-form{
        margin-top: 44px;
        &-input{
            display: block;
            width: 80%;
            background: none;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            padding: 16px;
            font-family: $main-family;
            letter-spacing: 3px;
            margin: 0 auto 3%;

            @include desktop1024(){
                margin: 0;
            }
            @include mdplus(){
                width: 60%;
            }
         
        }
        &-input::placeholder{
            color: $white;
        }
        &-wrapper-submit{
            width: 80%;
            text-align: right;
            margin: 30px auto;
            @include desktop1024(){
                width: 80%;
                margin: 40px 0px;
            }

            @include mdplus(){
                width: 60%;
            }
        }

        &-submit{
            font-family: $main-family;
            letter-spacing: 5px;
            background: none;
            border: 1px solid $white;
            padding: 20px 34px;
            text-transform: uppercase;
            color: $white;
            font-weight: 500;
            cursor: pointer;
            transition: background .3s ease-in-out, color .3s ease-in-out ;
        }

        &-submit:hover{
            color: #2A2E40;
            background: $white;
        }
       
    }
    &__hours{
        width: 100%;

        @include desktop1024(){
            position: relative;
            width: 42.5%;
        }
    }

    &__wrapper-gim-hours{
        background: $red;
        padding: 0px 40px 62px 40px;
        width: 100%;
        bottom: 0;

        @include desktop1024(){
            position: absolute;
        }
    }

    &__gim-hours{
        background: $red;
        box-shadow: 0px 70px 120px -42px rgba(0,0,0,0.3);
        color: $white;
        padding: 40px;
        margin-bottom: 62px;
     
        &-title{
            font-family: $main-family;
            text-transform: uppercase;
            font-size: 26px;
            letter-spacing: 3px;
            padding-bottom: 30px;
            
        }
        &-list{
            list-style: none;
        }
        &-hour{
            font-family: $text-family;
            font-size: 14px;
            font-weight: 300;
            padding-bottom: 30px;
        }
    }

    &__freeday{
        background: $white;
        color: $font-black;
        padding: 40px;
        box-shadow: 0px 70px 120px -42px rgba(0,0,0,0.3);
        &-title{
            font-family: $main-family;
            letter-spacing: 3px;
            color: $font-black;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 500;
        }
        &-button{
            font-family: $main-family;
            color: $font-black;
            text-transform: uppercase;
            text-decoration: none;
            border: 1px solid $red;
            letter-spacing: 5px;
            padding: 20px 30px;
            display: inline-block;
            margin-top: 40px;
            text-align: center;
            transition: 
                transform .2s ease-in-out,
                background .2s ease-in-out,
                color .2s ease-in-out
            ;
            @include desktop1024(){
                text-align: left;
            }
        }

        &-button:hover{
            transform: scale(1.1);
            background: $red;
            color: $white;
        }
    }

}