.c-iniciation{
    text-align: center;
    font-family: $main-family;
    position: relative;
    margin-top: 60px;
    &__separator{
        width: 80%;
        border-top: 1px dashed rgba(9,80,92,0.14);
        position: absolute;
        right: 0;
        max-width: 1080px;

        @include desktop1024(){
            width: 100%;
            border-top: .5px dashed rgba(9,80,92,0.14);
        }
    }
    &__wrapper{
       padding-top: 60px;
    }
    &__zero{
        color: $red;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 5px;
        position: relative;
        margin-top: 80px;
        opacity: 0;
        @include desktop1024(){
            font-size: 70px;
        }
    }
    &__iniciation{
        color: $red;
        font-size: 10px;
        letter-spacing: 1.5em;
        font-weight: 500;
        padding-top: 20px;
        line-height: 30px;
        position: relative;
        margin-top: 80px;
        opacity: 0;
        @include desktop1024(){
            font-size: 12px;
            padding-top: 30px;
            line-height: 0px;
        }
    }
    &__title{
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 10px;
        color: $font-black;
        padding-top: 20px;

        @include desktop1024(){
            font-size: 60px;
            letter-spacing: 15px;
            padding-top: 70px;
        }
    }
    &__description{
        font-family: $text-family;
        color: $font-grey;
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;

        @include desktop1024(){
            width: 72%;
            font-weight: 500;
        }
    }
}