
.c-intro{
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: $main-family;
    &__wrapper{
        display: flex;
        flex-direction: column;
        @include desktop1024(){
            flex-direction: row;
        }
    }

    &__one{
        width: 100%;
        background: rgba(255, 255, 255, 0.85);
        padding: 100px 34px;
        padding-top: 0;
        color: $font-black;

        @include desktop1024(){
            width: $width_white_box;
            padding: 100px 80px;
            padding-left: 8%;
            padding-top: 0;
        }
        &-wrapper-texts{
            position: relative;
            left: 5%;
            opacity: 0;
            &-title{
                font-family: $main-family;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 0.5em;
                line-height: 2.4em;
                padding-bottom: 10px;

                @include desktop1024(){
                    letter-spacing: 1.5em;
                }
            }

            &-bigtitle{
                font-size: 10vw;
                font-weight: 300;
                letter-spacing: 1.5vw;
                text-align: left;
                margin-bottom: 57px;
                line-height: 1.2em;
                width: 57%;

                @include desktop1024(){
                    font-size: 5vw;
                    margin-bottom: 100px;
                }

                &-word{
                    position: relative;
                    display: block;
                }
            }
        }

        &-wrapper-button{
            text-align: center;
            @include desktop1024(){
                text-align: left;
            }
            &-button{
                font-size: 16px;
                padding: 15px;
                transition: border-width .2s ease-in-out;
            }

            &-button:hover{
                border-width: 6px;
            }
        }
    }

    &__two{
        width: 100%;
        color: $white;
        background: linear-gradient(180deg, rgba(255,255,255,0) 80%, #fff 80%);

        @include desktop1024(){
            width: $width_red_box;
        }
        &-content{
            background: $red;
            padding: 100px 34px;
            text-align: center;

            @include desktop1024(){
                padding: 60px 40px;
                text-align: left;
            }
            &-paragraph{
                font-size: 26px;
                font-weight: 400;
                letter-spacing: 3px;
                padding-bottom: 60px;
            }
            &-button{
                text-decoration: none;
                border: 1px solid $white;
                background: $red;
                color: $white;
                padding: 20px 35px;
                font-size: 16px;
                letter-spacing: 5px;
                line-height: 27px;
                transition: background .3s ease-in-out, color .3s ease-in-out ;
            }   
            &-button:hover{
                background: $white;
                color: $red;
            }
        }

       
    }
}