.c-join{
   // margin-top: 8%;
    margin-bottom: 8%;
    &__wrapper{
        display: flex;
        width: 100%;
        height: 1080px;
        position: relative;

        @include tablet(){
            height: calc(1150px + 20px);
        }

        @include desktop1024(){
            width: 95%;
            margin-left: auto;
            height: auto;
        }
    }
    &__wrapper-title{
        text-align: center;

        @include desktop1024(){
            text-align: left;
        }
    }
    &__title{
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        margin-bottom: 30px;
        transition: border-width .2s ease-in-out;
        @include desktop1024(){
            margin-bottom: 160px;
        }
    }

    &__title:hover{
        border-width: 6px;
    }
    &__left{
        background: $red;
        width: 50%;
        @include tablet(){
            position: relative;
        }
        @include desktop1024(){
            height: 30vw;
        }

        &-subcontainer{
            display:flex;
            justify-content: flex-end;
            height: 100%;
            

            @include desktop1024(){
                position: relative;
            }
        }
        &-button{      
            position: absolute; 
            top: 35%;
            left: 50%; 
            transform: translateX(-50%);
            font-family: $main-family;
            text-decoration: none;
            border: 1px solid $white;
            color: $white;
            letter-spacing: 5px;
            font-size: 16px;
            font-weight: 500;
            padding: 14px 28px;
            transition: background .3s ease-in-out, color .3s ease-in-out;

            @include tablet(){
                top: 30%;
                right: 30px;
                left: auto;
                transform: none;
            }

            @include desktop1024(){
                top: 30%;
                right: 45%;
                left: auto;
                transform: none;
            }
        }

        &-button:hover{
            background: $white;
            color: $red;
        }

        &-wrapper-img{
            position: absolute;
            width: 300px;
            max-width: 300px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            @include tablet(){
                width: 383px;
                max-width: 100%;
                transform: none;
                left: 100%;
                z-index: 1;
                top: calc(282.45px + 30px);
            }

            @include desktop1024(){
                width: 45%;
                top: calc(30% + 0px);
                opacity: 0;
                right: 0;
                max-width: none;
                left: auto;
                transform: none;
                transition: top 2s ease-in-out, opacity 2s ease-in-out;
            }
        }
        &-img{
            width: 100%;
            box-shadow: 0px 100px 120px -42px rgba(0,0,0,0.3);
            display: block;
        }
    }

    &__right{
        background: 
        linear-gradient(
          rgba(47, 52, 60, 0.45),
          rgba(47, 52, 60, 0.45)
        ),
        url(../img/join-back.jpg);
        background-size: cover; 
        width: 50%;
        
        @include tablet(){
            position: relative;
        }

        @include desktop1024(){
            height: 30vw;
            position: relative;
        }

        &-wrapper-img-one{
            position: absolute;
            width: 300px;
            max-width: 300px;
            left: 50%;
            transform: translateX(-50%);
            top: 42%;

            @include tablet(){
                width: 383px;
                max-width: 100%;
                top: 30px;
                right: 100%;
                left: auto;
                transform: none;
            }

            @include desktop1024(){
                width: 45%;
                max-width: none;
                left: auto;
                transform: none;
                top: auto;
                right: auto;
                opacity: 0;
                bottom: calc(70% - 96px);
                transition: bottom 2s ease-in-out, opacity 2s ease-in-out;
            }
        }
        &-img-one{
            width: 100%;
            box-shadow: 0px 100px 120px -42px rgba(0,0,0,0.3);
            display: block;
        }
        &-wrapper-img-two{
            position: absolute;
            width: 300px;
            max-width: 300px;
            left: 50%;
            transform: translateX(-50%);
            top: 66%;   

            @include tablet(){
                width: 383px;
                max-width: 100%;
                left: auto;
                right: 100%;
                transform: none;
                top: calc(727.68px + 30px);
            }

            @include desktop1024(){
                width: 45%;
                left: 45%;
                max-width: none;
                transform: none;
                opacity: 0;
                top: calc(30% + 0px);
                transition: top 2s ease-in-out, opacity 2s ease-in-out;
            }
            
        }
        &-img-two{
            width: 100%;
            box-shadow: 0px 100px 120px -42px rgba(0,0,0,0.3);
            display: block;
        }
    }
    .anim-top{
        top: calc(30% + 48px);
        opacity: 1;
    }
    .anim-bottom{
        bottom: calc(70% - 48px);
        opacity: 1;
    }
}