.c-menu-mobile{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    display: none;
    z-index: 20;
    background: 
    linear-gradient(
        rgba(255, 0, 0, 0.9), 
        rgba(255, 0, 0, 0.7)
      ),
      url(../img/background-mobile.jpg);
    background-size: cover;
    background-position: 64%;
    &.is-active{
        display: block !important;
    }

    &__wrapper-dismiss{
        text-align: right;
    }

    &__dismiss{
        margin: 19px 24px;
        width: 30px;
    }
    
    &__wrapper-links{
        text-align: center;
        color: $white;
        font-family: $main-family;
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 8px;
        padding-top: 90px;
    }

    &__list-links{
        list-style: none;
    }

    &__link{
        padding-bottom: 30px;
    }
}