.c-nav{
    font-family: $secondary-family;
   /* -webkit-box-shadow: 0px 5px 17px -9px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 5px 17px -9px rgba(0,0,0,0.29);
    box-shadow: 0px 5px 17px -9px rgba(0,0,0,0.29); */
    position: relative;
    background: rgba(255, 255, 255, 0.85);
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 40px;

        @include desktop1024(){
            justify-content: space-between;
            flex-direction: column;
        }
    }

    &__wrapper-logo{
        width: 4%;
        min-width: 60px;
        margin: 0 auto;
        &-img{
            width: 100%;
        }

        @include desktop1024(){
            margin: 0;
        }
    }

    &__nav{
        display: none;

            @include desktop1024(){
                display: block;   
            }
    }

    &__list-links{
        padding-top: 10px;
    }

    &__link{
        font-family: $main-family;
        display: inline-block;
        padding-right: 25px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 7px;
        text-transform: uppercase;
        a{
            text-decoration: none;
            color: black;
        }
    }

    &__menu-icon-mobile{
        @include desktop1024(){
            display: none;
        }
    }

    &__link-underline{
        background: $red;
        margin: 10px auto;
    }

}