.c-programs{
    padding-top: 60px;
    font-family: $main-family;
    padding-bottom: 4%;
    &__wrapper-title{
        text-align: center;
    }
    &__title{
        font-size: 16px;
        padding: 0px 10px 16px 10px;
        transition: border-width .2s ease-in-out;
    }
    &__title:hover{
        border-width: 6px;
    }
    &__wrapper-cards{
        display: flex;
        padding-top: 40px;
        flex-direction: column;
        @include desktop1024(){
            flex-direction: row;
        }
    }

    &__card{
        padding: 40px 30px;
        color: $white;
        box-shadow: 50px 70px 120px -42px rgba(0,0,0,0.3);

        @include desktop1024(){
            padding: 40px 60px;
        }
        
        &-title{
            font-size: 26px;
            font-weight: 500;
            letter-spacing: 3px;
            line-height: 45px;
            padding-bottom: 10px;
        }
        &-paragraph{
            font-family: $text-family;
            font-weight: 100;
            font-size: 14px;
            line-height: 28px;
        }

        &--red{
            background:$red;
            position: relative;
            top: 0px;
            left: -40px;
            opacity: 0;

            @include desktop1024(){
                top: 80px;
            }
        }
        &--blue{
            position: relative;
            top: 40px;
            opacity: 0;
            background:$dark-blue;
        }
        &--white{
            background: $white;
            color: $font-black;
        }
    }
}