.c-testimonials{
    &__wrapper-texts{
        text-align: center;
        &-quotes{
            font-family: $main-family;
            font-size: 30px;
            color: $red;
            letter-spacing: 7px;
            line-height: 1.4em;
            font-weight: 500;
            padding-bottom: 40px;
            @include desktop1024(){
                font-size: 70px;
            }
        }
        &-title{
            font-family: $main-family;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: $font-black;

            @include desktop1024(){
                font-size: 60px;
                letter-spacing: 15px;
            }
        

        }
        &-button{
            font-size: 16px;
            padding: 15px;
            display: inline-block;
            margin-top: 60px;
            margin-bottom: 60px;
            transition: border-width 0.2s ease-in-out;
        }   
        &-button:hover{
            border-width: 6px;
        }
    }

    &__wrapper-testimonials{
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include desktop1024(){
            flex-direction: row;
        }
    }

    &__testimonial{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;

        @include tablet(){
            flex-direction: row;
        }

        @include desktop1024(){
            width: 47.22%;
            padding: 0;
        }
        &-img{
            background-image: url(../img/testimonial.jpg);
            height: 90px;
            width: 90px;
            min-height: 90px;
            min-width: 90px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            margin-right: 30px;
            box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
            margin: 20px auto;

            @include tablet(){
                margin: 0 30px 0 0;
            }
        }

        &-paragraph{
            font-size: 14px;
            font-family: $text-family;
            color: #666;
            font-weight: 500;
            line-height: 28px;
        }
        &-name{
            font-family: $text-family;
            font-size: 14px;
            font-weight: 700;
            margin-top: 16px;
            color: #666;
            text-align: left;
        }

        &--right{
            margin-right: 70px;
        }
    }
}