.c-video{
    padding-top: 10%;
    //padding-bottom: 10%;
    padding-bottom: 4%;
    &__overlay{
        background: black;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }

    &__overlay:hover{
        opacity: 0.7;
    }
    
    &__wrapper-video{
        position: relative;
        overflow: hidden;
    }
    &__poster{
        width: 100%;
        position: absolute;
    }
    &__video{
        width: 100%;
    }
    &__wrapper-button{
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
        cursor: pointer;
        z-index: 10;
    }

}