/* ==========================================================================*/
/* MIXINS */
/* ==========================================================================*/

@mixin tablet(){
    @media (min-width:768px){
        @content;
    }
}

@mixin desktop1024(){
    @media (min-width:1024px){
        @content;
    }
}

@mixin sm(){
    @media (min-width:501px){
        @content;
    }
}

@mixin md(){
    @media (min-width: 1101px){
        @content;
    }
}

@mixin mdplus(){
    @media (min-width: 1440px){
        @content;
    }
}

@mixin extra-md(){
    @media (min-width: 2000px){
        @content;
    }
}
//RANGE
@mixin only-xs(){
    @media(min-width: 0px) and (max-width:500px){
        @content;
    }
}

@mixin only-sm(){
    @media (min-width: 501px) and (max-width:1100px){
        @content;
    }
}

@mixin only-md(){
    @media (min-width:1101px){
        @content;
    }
}

/* ==========================================================================*/
/* END TOOLS - MIXINS */
/* ==========================================================================*/